pip-tools

# pytorch
--extra-index-url https://download.pytorch.org/whl/cu113
torch #==1.11.0 #+cu113  # sometimes is grabs the wrong version
torchvision
torchaudio
torchtext

torchmetrics==0.8.0

pytorch-lightning
jsonargparse[signatures]
transformers
wandb
pillow
dvc[s3]==2.10.0
# dvclive[pytorch_lightning]
# git+https://github.com/Benjamin-Etheredge/dvclive

pandas
numpy
seaborn
jupyter
scikit-image
plotly

nbstripout
icecream
torch-tb-profiler

timm

git+https://github.com/facebookresearch/detectron2.git@v0.5