pip-tools

# pytorch
--extra-index-url https://download.pytorch.org/whl/cu113
torch #==1.11.0 #+cu113  # sometimes is grabs the wrong version
torchvision
torchaudio
torchtext

pytorch-lightning
jsonargparse[signatures]
transformers
wandb
pillow
dvc[s3]==2.10.0
# dvclive[pytorch_lightning]
git+https://github.com/Benjamin-Etheredge/dvclive

pandas
numpy
seaborn
jupyter
scikit-image

nbstripout
icecream
torch-tb-profiler

cmake
dlib