pip-tools

# pytorch
--extra-index-url https://download.pytorch.org/whl/cu113
torch #==1.11.0 #+cu113  # sometimes is grabs the wrong version
torchvision
torchaudio
torchtext

pytorch-lightning
jsonargparse[signatures]
transformers
wandb
pillow
dvc[s3]==2.10.0
# dvclive[pytorch_lightning]
# git+https://github.com/Benjamin-Etheredge/dvclive
pandas
numpy
seaborn
jupyter
scikit-image
plotly
fairseq

nbstripout
icecream
torch-tb-profiler

# OFA
git+https://github.com/mthoreson3/OFA@5297c204e939840da46cf75dc97acf96b708bf49#egg=OFA

# OFA reqs
git+https://github.com/pytorch/fairseq@806855bf660ea748ed7ffb42fe8dcc881ca3aca0#egg=fairseq
opencv-python
timm
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.4
pycocoevalcap==1.2
pytorch_lightning
einops
datasets
rouge_score

